h1 {
    font-size: 24px;
    text-align: center; 
    font-weight: bolder;
    margin-bottom: 20px; 
}

body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%; 
    width: 100%; 
    padding: 20px;
    background-color: #f4f4f4; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    width: 100%;
    margin-bottom: 15px; 
}

.form-control {
    border: none;
    border-radius: 6px;
    border-bottom: 1px solid #ccc;
    background-color: transparent; 
    transition: border-bottom-color 0.3s ease; 
    padding: 0.375rem 0.75rem;
    width: 100%; 
}

.form-control:focus {
    outline: none;
    border-bottom-color: white; 
}

label {
    font-weight: bold;
}

.image-upload-container {
    border: 1px dashed #ccc;
    border-radius: 6px;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease;
    width: 100%;
}

.upload-icon {
    font-size: 15px;
}   


.upload-text {
    font-weight: bold;
    align-items: center;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    width: 100%;
    cursor: pointer;
    transition: border-bottom-color 0.3s ease;
}

select.form-control:focus {
    outline: none;
    border-bottom-color: #007bff; 
}

button[type="button"] {
    background-color: #ff6b6b; 
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
    margin-top: 20px; 
}

button[type="button"]:hover {
    background-color: #ff5050;
    color: #fff;
}

.file-upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.file-upload-container {
    width: 100%;
}